html,
body {
  background-color: black;
  color: white;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  background-color: gray;
  height: 100%;
}

#header {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#links {
  flex: 2;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  background-color: blue;
}

#projects,
#school,
#about-contact   {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 50%;
  border-radius: 10px;
  margin: 10px;
}
